.calculator-box{
    margin: auto;
    width:80%;
    height:375px;
}

.memory-box{
    margin: auto;
    width:80%;
    height: 100px;
}

.total-pt{
    display: inline;
    font-size: 28pt;
    font-weight: bold;
}

.add-list-button{
    float: right; 
    margin-top: 10px;
}

.temp-list-title{
    font-size: 16pt;
}

th {
    white-space: nowrap;
}
